.author_img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.author_name{
    font-size: 1em;
    font-weight: 700;
}
.created{
    margin-top: 3px;
    font-size:0.8em;
}
.board_top{
    display: flex;
    margin-top: 10px;
}
.board{
    margin: 8px 5px 8px 5px;
}
.board_title{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 10px 0 10px 0;
    font-size: 1.5rem;
    font-weight: normal;
    border-bottom: 1px solid rgba(94, 93, 93, 0.418);
}
.board_top_center{
    padding-left: 1em;
}
.see_detail{
    width: 100%;
    border:0em;
    background-color: rgb(231, 76, 60);
    font-weight: 700;
    color: aliceblue;
    border-radius: 5px;
}
.buttons{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}
.board_btn{
    display: flex;
    justify-content: space-evenly;
    width: 33%;
    height: 100%;
    border: 0px;
    background-color: #e7e6e1;
}
.board_btn:hover{
    background-color:#aaaaaa;
}

.like_on{
    background-color: #f875aa;
}
.like_on:hover{
    background-color: #f875aa;
}
.board_thumbnail{
    display: flex;
}
.board_thumbnail_text{
    font-size: 1.2em;
    padding: 10px;
}
.board_thumbnail_img{
    max-height: 240px;
    max-width: 240px;
    width: auto;
    height:auto;
}