.comment{
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid gainsboro 1px;
	display: flex;
}
.recomment{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid gainsboro 1px;
	display: flex;
}
.comment-main{
	width: 100%;
	max-width: 432px;
}

.comment-subscript{
	font-size: 0.8em;
}
.comment-left{
	display: flex;
}
.comment-right{
	right: 0;
	float: right;
	margin-left: auto;
}
.comment-author{
	font-weight: 500;
	margin-right: 10px;
}
.re-comment{
	margin-left: auto;
	margin-right: 20px;
	background-color: #e8e8e8;
	cursor: pointer;
	border: none;
}
.comment-like{
	margin-right: 10px;
	background-color: #e8e8e8;
	cursor: pointer;
	border: none;
}
.comment-userimg{
	width: 32px;
	height: 32px;
	margin: 5px 20px auto 5px;
}
.comment-context{
	padding-top: 5px;	
}
.comment-context *{
	white-space: pre-wrap;
}
.comment_text{
	margin-bottom: 5px;
}
.comment-box{
	background: #e8e8e8;
	width: 100%;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.comment-input{
	position: relative;
	width: 90%;
	margin: auto;
	background-color: #ffffff;
	margin-top: 20px;
	padding:10px;
}
.comment-input textarea{
	width: 100%;
	box-sizing: border-box;
	padding: 20px 0px 5px 20px;
	height: 100px;
	border-style: none;
	resize: none;
}
.comment_btn{
	cursor: pointer;
	float: right;
	right: 10px;
	position: relative;
	z-index: 1;
	color: antiquewhite;
	background: #f05454;
	border: solid #d8d8d8 1px;
	padding: 10px;
}
.comment_img{
	cursor: pointer;
	float: left;
	position: relative;
	z-index: 1;
	padding: 10px;
}
.comment_bottom{
	height: 50px;
}
.comment_preimgzone{
	position: relative;
	height: auto;
	width: 60px;
}
.comment_preimg{
	max-height: 100%;
	max-width: 100%;
}
.comment_context_img{
	margin-top: 5px;
	max-width: 100%;
}
.comment_preimg_delete{
	position:absolute;
	top:-5px;
	right:-5px;
	width: 19px;
	height: 19px;
	border-radius: 10px;
	border: 0px;
	opacity: 0.3;
	z-index: -1;
}
.comment_preimg_delete:hover{
	opacity: 1;
}
.comment_preimg_delete::before, .comment_preimg_delete::after{
	position:absolute;
	left: 8px;
	bottom: 0px;
	content: ' ';
	height: 19px;
	width: 2px;
	background-color: #333;
}
.comment_preimg_delete::before{
	transform: rotate(45deg);
}
.comment_preimg_delete::after{
	transform: rotate(-45deg);
}

.temp{
	cursor: pointer;
}
.recomment_target_preview{
	margin: 5px;
	margin-bottom: 10px;
	font-size: 1em;
	font-weight: 700;
}

.recomment_target{
	font-size: 1em;
	font-weight: 700;
	margin-right: 5px;
	color:#262daf;
	text-decoration: underline;
}