.ql-editor {
    height: 600px;
}
.quill-blur {
    display: none;
}
.quill{
    margin:10px 10px 10px 10px;
}
.ql-editor .ql-video{
    position: relative;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    background: black;
}
.ql-img-div{
    position: relative;
    width:100%;
}
.ql-img-div img{
    width: 100%;
    position:absolute;
    left:0px;
    top:0px;
    /* opacity: 0;
    transition: opacity 1s linear; */
}
.ql-img-div img.loaded{
    opacity: 1;
}
.ql-img-small{
    filter: blur(50px);
    transform: scale(1);
}

.ql-editor .ql-prevideo{
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    background: black;
}
.ql-editor .video_preview_tempData{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto auto auto;
    width: 100%;
    height: max-content;
    white-space: nowrap;
    overflow: hidden;
    color: #1e212d;
    text-align: center;
    font-size: 1em;
}
.video_preview_tempData_url{
    text-overflow: ellipsis;
    text-align:center;
    user-select: none;
    -webkit-user-select: none; /* Chrome/Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -webkit-user-modify: read-only;
    -moz-user-modify: read-only;
}
.editor_navbar{
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.playBtn{
    content: "";
    width: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 35px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

