.mypage_user_img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50px;
    border : 1px solid #e9e1ee;
    margin:30px;
}
.mypage_header{
    display: flex;
}
.mypage_user_name{
    font-size: 1.3em;
    margin: 20px;
    font-weight: 700;
}